.card {
    width: 30%;
    height: 750px;
    background: #dee0e0;
    transition: all 300ms;
    border-radius: 9px;
   border:3px solid #b1996b;
   left: 20px;
   }
   
   .card:hover {
    opacity: 0.8;
    transform: scale(1.10);
   }
   .imagen{
    border-radius: 5px;
   }

   .name{
  color: rgb(255, 255, 255);
  }

  .parrafo{
  color: rgb(255, 255, 255);  
  overflow: hidden;
  }

  .description{
  font-size: 13px;
  color: rgb(0, 0, 0);  
  text-align: vertical;
overflow: hidden;
font: weight 200px;;
  }

  .container{
  background-image: url('../../assets/wallpaperbetter.com_1920x1080\ \(5\).jpg');
  width: 100vw;
  height: 100vh;  
  }

  .imagen{
   background-image: url('../../assets/tenor.gif'); 
  }
   