
   a{
text-decoration: none;
   }
   .card {
    width: 250px;
    height: 320px;
    background: #dee0e0;
    transition: all 300ms;
    border-radius: 9px;
   border:3px solid #b1996b;
   left: 20px;
   }
   
   .card:hover {
    opacity: 0.8;
    transform: scale(1.10);
   }
   .imagen{
    border-radius: 5px;
   }

   .name{
  color: rgb(21, 16, 16);
  font-size: 23px;
  }

  .parrafo{
  color: rgb(58, 41, 41);  
  overflow: hidden;
  }
   